<% content_for :title, "New mod mail message" %>

<h1>New mod mail message</h1>

<%= render "form", mod_mail_message: @mod_mail_message %>

<br>

<div>
  <%= link_to "Back to mod mail messages", mod_mail_messages_path %>
</div>
